
.uimaster_widget_cell {             /* sets fluid layout for all DIVs with class "cell" */
    vertical-align: top;        /* vertical aligns elements within the cell */ 
    margin: 5px 0px 5px 0px;   /* controls spacing around cell DIVs */
    padding: 0;	                /* zeros out the cell padding value, if any */
    float: left;                /* floats the DIV to the left of the screen */
    clear: none;                /* positions the next floated cell to the right of the previous cell */
    max-width: 100%;             /* ensures that a cell will not exceed an unreasonable width */
    position: relative;
}

.uimaster_container_cell {
    vertical-align: top;
    float: left;
    clear: none;
}

.uimaster_cell_clear {
    margin: 0px;
    float: none;
    clear: both;
}

.width_full {
    width: 100%
}

/*colSpan and rowSpan.*/
.w1 {
    min-width: 0px;
}

.w2 {
    min-width: 0px;
}

.w3 {
    min-width: 0px;
}

.w4 {
    min-width: 0px;
}

.w5 {
    min-width: 0px;
}

.w6 {
    min-width: 0px;
}

.h1 {
    /*min-height: 55px;*/
}

.h2 {
}

label {                         
/* most common format for labels */
    /*font-weight: bold;
    display: block;
    margin: 0px 0px 5px 0px;*/
}

.hardreturn {
    clear: both;
    line-height: 0px;
}

/*.line_above {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #017ae2;
}*/

.uimaster_min_cell {
    margin: 0px;
    min-width: 0px;
    max-width: none;
    min-height: 0px;
    max-height: none;
}

.uimaster_right_cell {
    float: right;
}

.uimaster_leftform_cell {
    width:80px;
    min-width:80px;
}

.uimaster_leftform_widget {
    padding-left: 15px;
}

.uimaster_rightform_cell {}

.uimaster_rightform_widget {
    width:200px;
}

.no_margin {
    margin: 0px;
}

.m2px {
    margin: 2px;
}

.m2px_h {
    margin: 0px 2px;
}

.m2px_v {
    margin: 2px 0px;
}

.m4px_t {
    margin: 4px 0px 0px;
}

.indexbar_cell_top {
    margin: 5px 3px;
}

.indexbar_cell_middle {
    margin: 0px 3px;
}

.indexbar_cell_bottom {
    margin: 5px 3px;
}

.twoslist_button_margin {
    margin: 5px;
}

html { 
    overflow: auto;
}

/* TwoSelectionList Style*/
.twoselect_list_size {
    width: 230px;
}

.twoselect_button_size {
    width: 100px;
    margin: 5px 20px 0px 20px;
}

/*Skins*/
.skin_titlepanel_table {}
.skin_titlepanel_title {}
.skin_titlepanel_content {
	display:block;
	border:2px solid #8DB9DB;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	overflow: hidden;
}
.cust_skin_titlepanel_content {
	display:block;
	border:1px solid #8DB9DB;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.uimaster_table {
    width:100%;
}

.uimaster_table td{
    max-width:150px;
	text-overflow:ellipsis;
	overflow:hidden;
}

/**
 * 
    filter: Alpha(Opacity=80); 
 */
.dynamic-window {
    position: absolute; 
    
    border-left: #7b9ebd 1px solid; 
    border-right: #7b9ebd 1px solid; 
    border-top: #7b9ebd 1px solid; 
    border-bottom: #7b9ebd 1px solid;
    
    width:  '400px';
    height: '200px';
    
    background-color: EFEFEF;
}

/**
    background: white; 

 */
.dynamic-window-title {
    width: 100%;
    height:18px;
    background: url(../images/controls/window/gradient1.JPG) repeat-x top left;
}

.dynamic-window-title-icon {
    vertical-align: middle;
    width: 20px;
}
.dynamic-window-title-topic {   
    font-weight: bold;
    vertical-align: middle;
    text-align: left;
    cursor: move;
    text-overflow: ellipsis;
    -moz-user-focus: ignore;
    -moz-user-input: disabled;
    -moz-user-select: none;
    -khtml-user-select: none;
    -o-user-select:none;
}

.dynamic-window-title-operate {
    width: 15%;
    text-align: right;
    vertical-align: middle;
}

.dialog-title-topic {
    cursor: move;
    width: 100%;
    height:24px;
    background: url(../images/controls/window/gradient1.JPG) repeat-x top left;
    text-indent: 10px;
    line-height: 24px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.dynamic-window-content {
    width: 100%;
    vertical-align: top;
    background: white;
}

.dynamic-window-foot {
    width: 100%;
    vertical-align: top;
    background: white;
}

.dialog-option {
    border-top: #708090 1px solid;
    background-color: #e4e4e4;
    padding-bottom: 5px;
    padding-top: 4px;
}

.dialog-image {
    vertical-align:top;
    padding:5px 5px 0px 5px;
    width:48px
}

.dialog-trace-button-hide{
    background: url(images/toggle.png) 0px 0px no-repeat;
    height: 13px;
    width: 13px;
    float: left;
    margin: 0px 5px 0px 10px;
}

.dialog-trace-button-show{
    background: url(images/toggle.png) -14px 0px no-repeat;
    height: 13px;
    width: 13px;
    float: left;
    margin: 0px 5px 0px 10px;
}

.dialog-error-msg{
    color: red;
    font-size: 14px;
    line-height: 14px;
    padding: 0px 0px 0px 10px;
    margin-top: 14px;
}

.dynamic-window-canvas {
    position: absolute; 
    border: #7b9ebd 1px solid; 
    background: white;
    opacity: 0.5;
    filter: Alpha(Opacity=50); 
    width:100%;
    height:100%;
    
    overflow: hidden;
}

.messagedialog {
    position: absolute;
    
    width:  150px;
    
    word-wrap: break-word ;
    background-color: #FFFFD5;
}

.messagedialog_angle {
    position: absolute;
}

#ui-mask {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:#FFF;
    opacity:.75;
    filter:alpha(opacity=75);
    z-index:100;
}
#ui-mask iframe{
    display:none;/*sorry for IE5*/
    display/**/:block;/*sorry for IE5*/
    position:absolute;/*must have*/
    top:0;/*must have*/
    left:0;/*must have*/
    z-index:-1;/*must have*/
    filter:mask();/*must have*/
    width:3000px;/*must have for any big value*/
    height:3000px/*must have for any big value*/;
}

.tab { width : 100%;}
.tab-titles { width : 100%;  border-bottom: 0px;}
.tab-titles div { display : block ; float : left ; padding : 8px; text-align : center ; cursor : pointer ; }
.tab-bodies { width : 100% ; clear : both ; padding : 8px ; }
.tab-bodies .tab-unselected-body { display : none ; }
.tab-bodies .tab-selected-body { display : block ; }
 
 /* for TitlePanel */
.table-tp { width : 100% ; border : 0px ; padding : 0px ; }
.content-tp { min-height : 20px ; padding : 10px 5px 5px 20px ; }
.content-tp > div { margin-top : 20px ; margin-left : 20px ; }

.title-tp {
    width:100%;
    height: 18px;
    border: #017ae2 1px solid;
    background-color: #E7F2FF;
    padding-left: 4px;
    cursor: pointer;
    BACKGROUND: url(../images/gradient.jpg) no-repeat left top;    
}
.title-tp>div{
    font-weight: bold;
    margin-top: 2px;
}

.err-page-warn {
    display: block;
    border:4px solid #8DB9DB;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.err-title {
    padding-top: 8px;
}
.err-body {
    margin-top: 5px;
    margin-bottom: 5px;
}

/** flow css definition */
.flowchart .window:hover {
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
    filter:alpha(opacity=60);
}
.flowchart .selected {
   background-color: #216477;
}
.flowchart .active {
    border:1px dotted green;
}
.flowchart .hover {
    border:1px dotted red;
}
.flowchart .aLabel {
 	background-color:white; 
	padding:0.4em; 
	font:12px sans-serif; 
	color:#444;
	z-index:21;
	border:1px dotted gray;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor: pointer;
}
.flowchart .aLabel._jsPlumb_hover {
	background-color:#5C96BC;
	color:white;	
	border:1px solid white;
}
.flowchart ._jsPlumb_connector { z-index:4; }
.flowchart ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel{ z-index:21;cursor:pointer; }

.progress-flowsteps {}
.progress-flowstep {list-style: none;}
.progress-step-done .progress-step-no{background-position: 50% -204px;}
.progress-step-processing .progress-step-no{background-position: 50% -102px;}
.progress-step {}
.progress-step-name {text-align: center;}
.progress-step-no {background: url(/images/controls/orderprogressbar.png) no-repeat 50% -102px;}
.progress-step-time {}
.progress-step-wraper {}
